<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	


	<title>Item Detail</title>
	<link th:href="'../css/bootstrap.css'" href="../static/css/bootstrap.css" rel="stylesheet"/>
	
</head>

<body>
	<form action="#" th:action="${postAction}" method="post" th:object="${itemDetail}">
	
		<input type="hidden" name="itemDetail.id" th:value="*{id}" /> 
		<label>Item:</label> <input type="text" name="itemDetail.name" th:value="*{name}" /> 
		<label>Quantity:</label> <input type="text" name="itemDetail.quantity" th:value="*{quantity}" />
		<input type="submit" />
	
	</form>


	
	
	
	<a href="/">Zurück</a>
	<input class="btn btn-primary" type="submit" type="submit" />
		<a class="btn btn-default" href="/">Zurück</a>
	
	
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script> th:src="'js/bootstrap.js'" src="../static/.js/bootstrap.js"</script>

</body>
</html>