<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Risiken</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h3>Risiken</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Risikoart</th>
			<th>Beschreibung</th>
			<th>Eintrittswahrscheinlichkeit</th>
			<th>Ausmass</th>
			<th>Massnahmen</th>
			<th>Status</th>
			<th>Verantwortlich</th>
		</tr>
		<tr th:each="Mitarbeiter : ${list}">
			<td th:text="${Mitarbeiter.getId()}"></td>
			<td th:text="${Mitarbeiter.getRisikoart()}"></td>
			<td th:text="${Mitarbeiter.getBeschreibung()}"></td>
			<td th:text="${Mitarbeiter.getEintrittswahrscheinlichkeit()}"></td>
			<td th:text="${Mitarbeiter.getMassnahmen()}"></td>
			<td th:text="${Mitarbeiter.getStatus()}"></td>
			<td th:text="${Mitarbeiter.getVerantwortlich()}"></td>
			<td><a href="" th:href="${'/item?id=' + item.getId()}">bearbeiten</a></td>
			<td><a href="" th:href="${'/item/delete?id=' + item.getId()}">löschen</a></td>
			
		</tr>
	</table>

	<a href="/Risiko">Neues Risiko hinzufügen</a>
	

</body>
</html>