<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	

	<title>Mitarbeiter</title>
	<link th:href="'../css/bootstrap.css'" href="../static/css/bootstrap.css" rel="stylesheet"/>
</head>

<body>

<button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>

	<h3>Mitarbeiter</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Funktion</th>
			<th>Abteilung</th>
			<th>Hierachiestufe</th>
			<th>Lohnstufe</th>
			<th>Name</th>
			<th>Nachname</th>
			<th>Adresse</th>
			<th>PLZ</th>
			<th>Ort</th>
			<th>Mail</th>
			<th>Tel.Nr</th>
			
			
			
		</tr>
		<tr th:each="Mitarbeiter : ${list}">
			<td th:text="${Mitarbeiter.getId()}"></td>
			<td th:text="${Mitarbeiter.getFunktion()}"></td>
			<td th:text="${Mitarbeiter.getAbteilung()}"></td>
			<td th:text="${Mitarbeiter.getHierachiestufe()}"></td>
			<td th:text="${Mitarbeiter.getLohnstufe()}"></td>
			<td th:text="${Mitarbeiter.getName()}"></td>
			<td th:text="${Mitarbeiter.getNachname()}"></td>
			<td th:text="${Mitarbeiter.getAdresse()}"></td>
			<td th:text="${Mitarbeiter.getPLZ()}"></td>
			<td th:text="${Mitarbeiter.getOrt()}"></td>
			<td th:text="${Mitarbeiter.getMail()}"></td>
			<td th:text="${Mitarbeiter.getTel()}"></td>
			<td><a href="" th:href="${'/item?id=' + item.getId()}">bearbeiten</a></td>
			<td><a href="" th:href="${'/item/delete?id=' + item.getId()}">löschen</a></td>
			
		</tr>
	</table>

	<a href="/Mitarbeiter">Neuen Mitarbeiter hinzufügen</a>
	
	
		
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script> th:src="'js/bootstrap.js'" src="../static/.js/bootstrap.js"</script>

</body>
</html>