<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Stakeholder</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h3>Stakeholder</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Vorname</th>
			<th>Anforderung</th>
			<th>Einfluss</th>
			<th>Konfliktpotenzial</th>
			<th>Rolle</th>
		</tr>
		<tr th:each="Stakeholder : ${list}">
			<td th:text="${Mitarbeiter.getId()}"></td>
			<td th:text="${Mitarbeiter.getName()}"></td>
			<td th:text="${Mitarbeiter.getVorname()}"></td>
			<td th:text="${Mitarbeiter.getAnforderung()}"></td>
			<td th:text="${Mitarbeiter.getEinfluss()}"></td>
			<td th:text="${Mitarbeiter.getKonfliktpotenzial()}"></td>
			<td th:text="${Mitarbeiter.getRolle()}"></td>
			<td><a href="" th:href="${'/item?id=' + item.getId()}">bearbeiten</a></td>
			<td><a href="" th:href="${'/item/delete?id=' + item.getId()}">löschen</a></td>
			
		</tr>
	</table>

	<a href="/Stakholder">Neuer Stakeholder hinzufügen</a>


</body>
</html>