<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>List Stakeholder</title>
<link th:href="'../css/bootstrap.css'" href="../static/css/bootstrap.css" rel="stylesheet"/>
</head>

<body>
	<h1>List Stakeholder</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Vorname</th>
		</tr>
		<tr th:each="item : ${list}">
			<td th:text="${item.getName()}">Witzig</td>
			<td th:text="${item.getVorname()}"Nathanael</td>
			<td><a href="" th:href="${'/item?id=' + item.getId()}">bearbeiten</a></td>
			<td><a href="" th:href="${'/item/delete?id=' + item.getId()}">löschen</a></td>

		</tr>
	</table>

	<a href="/item">neuen Stakeholder erstellen</a>
	
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script th:src="'js/bootstrap.js'" src="../static/js/bootstrap.js"></script>

</body>
</html>