<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projekte</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h3>Projekte</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Beschreibung</th>
			<th>Relevanz</th>
			<th>KostenSoll</th>
			<th>KostenIST</th>
		</tr>
		<tr th:each="Mitarbeiter : ${list}">
			<td th:text="${Mitarbeiter.getId()}"></td>
			<td th:text="${Mitarbeiter.getName()}"></td>
			<td th:text="${Mitarbeiter.getBeschreibung()}"></td>
			<td th:text="${Mitarbeiter.getRelevanz()}"></td>
			<td th:text="${Mitarbeiter.getKostenSOLL()}"></td>
			<td th:text="${Mitarbeiter.getKostenIST()}"></td>
			<td><a href="" th:href="${'/item?id=' + item.getId()}">bearbeiten</a></td>
			<td><a href="" th:href="${'/item/delete?id=' + item.getId()}">löschen</a></td>
			
		</tr>
	</table>

	<a href="/Projekt">Neues Projekt hinzufügen</a>


</body>
</html>