<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Projekt Detail</title>
	<link th:href="'../css/bootstrap.css'" href="../static/css/bootstrap.css" rel="stylesheet"/>
	
</head>

<body>

	<div class="container">
	
		<ul>
		<li><a href=>Projekte </a> </li>
		<li><a href=>Mitarbeiter </a> </li>
		<li><a href=>Stakeholder</a> </li>
		<li><a href=>Risiken</a> </li>
		</ul>
	
	</div>





<h3>Mitarbeiter erfassen</h3>

	<form action="#" th:action="${postAction}" method="post" th:object="${MitarbeiterDetail}">
	
	<div>
		<div>
			<input type="hidden" name="MitarbeiterDetail.id" th:value="*{id}" /> <br>
		
			<label>Funktion:</label> <br>
			<input type="hidden"  th:value="*{Funktion}"/>
			<select name="Mitarbeiter.funktion" th:field="*{funktion}" >
			<option>Product Owner</option>
			<option>Release Manager</option>
			<option>Projektleiter</option>
			<option>Konzepter</option>
			<option>Testmanager</option>
			<option>nicht definiert</option>
			</select>
		<br>
		</div>
		
		<div>
			<label>Abteilung:</label> <br>
			<input type="hidden"  th:value="*{Abteilung}"/>
			<select name="Mitarbeiter.abteilung" th:field="*{abteilung}" >
			<option>A</option>
			<option>B</option>
			<option>C</option>
			<option>D</option>
			<option>E</option>
			<option>F</option>
			<option>G</option>
			<option>H</option>
			<option>I</option>
			<option>EXTERN</option>
			</select>
			<br>
		</div>
		
		<div>
		<label>Hierarchiestufe:</label> <br>
		<input type="hidden"  th:value="*{Hierachiestufe}"/>
		<select name="Mitarbeiter.hierarchiestufe" th:field="*{hierarchiestufe}" >
		<option>Mitarbeiter</option>
		<option>Kader</option>
		<option>Geschäftsleitung</option>
		</select>
		<br>
		</div>
		<label>Lohnstufe:</label> <br>
		<input type="hidden"  th:value="*{lohnstufe}"/>
		<select name="Mitarbeiter.lohnstufe" th:field="*{lohnstufe}" >
		<option>1-3</option>
		<option>4-7</option>
		<option>8-11</option>
		<option>12-15</option>
		<option>>15</option>
		</select>
		</div>
		
		<label>Name:</label> 
		<input type="text" placeholder="Name eingeben" name="MitarbeiterDetail.name" th:value="*{name}" /><br>
		<label>Nachname:</label> 
		<input type="text" placeholder="Nachname eingeben" name="MitarbeiterDetail.nachname" th:value="*{nachname}" /><br>
		<label>Adresse:</label> 
		<input type="text" placeholder="Adresse eingeben" name="MitarbeiterDetail.adresse" th:value="*{adresse}" /><br>
		<label>PLZ:</label> 
		<input type="text" placeholder="PLZ eingeben" name="MitarbeiterDetail.plz" th:value="*{plz}" /><br>
		<label>Ort:</label> 
		<input type="text" placeholder="Ort eingeben" name="MitarbeiterDetail.ort" th:value="*{ort}" /><br>
		<label>E-Mail:</label> 
		<input type="text" placeholder="E-Mail eingeben" name="MitarbeiterDetail.mail" th:value="*{mail}" /><br>
		<label>Tel:</label> 
		<input type="text" placeholder="Telefonnummer eingeben" name="MitarbeiterDetail.tel" th:value="*{tel}" /><br>
		
		
		
		<input class="btn btn-primary" type="submit" />
		<a class="btn btn-default" href="/">Zurück</a>
	</form>
	
	
	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script th:src="'js/bootstrap.js'" src="../static/js/bootstrap.js"></script>
</body>
</html>