<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Projekt erfassen</title>
	<link th:href="'../css/bootstrap.css'" href="../static/css/bootstrap.css" rel="stylesheet"/>
	
</head>

<body>

	<div class="container">
	
		<ul>
		<li><a href=>Projekte </a> </li>
		<li><a href=>Mitarbeiter </a> </li>
		<li><a href=>Stakeholder</a> </li>
		<li><a href=>Risiken</a> </li>
		</ul>
	
	</div>





<h3>Projekt erfassen/bearbeiten</h3>

	<form action="#" th:action="${postAction}" method="post" th:object="${ProjektDetail}">
	
		<input type="hidden" name="ProjektDetail.id" th:value="*{id}" /> <br>
		<label>Name:</label> 
		<input type="text" placeholder="Name eingeben" name="ProjektDetail.name" th:value="*{name}" /> <br>
		<label>Beschreibung:</label> 
		<input type="text" placeholder="Beschreibung eingeben" name="ProjektDetail.beschreibung" th:value="*{beschreibung}" /><br>
		<label>Strategische Relevanz:</label> 
		<input type="hidden"  th:value="*{Relevanz}"/>
		<select name="ProjektDetail.relevanz" th:field="*{relevanz}" >
		<option>niedrig</option>
		<option>mittel</option>
		<option>hoch</option>
		
		</select>
		<label>Kosten SOLL:</label> 
		<input type="text"placeholder="SOLL Kosten eingeben" name="ProjektDetail.kostenSOLL" th:value="*{kostenSOLL}" /><br>
		<label>Kosten IST:</label> 
		<input type="text" placeholder="IST Kosten eingeben" name="ProjektDetail.kostenIST" th:value="*{kostenIST}" /><br>
		
		
		<input class="btn btn-primary" type="submit" />
		<a class="btn btn-default" href="/">Zurück</a>
	</form>
	
	
	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script th:src="'js/bootstrap.js'" src="../static/js/bootstrap.js"></script>
</body>
</html>