<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Projekt Detail</title>
	<link th:href="'../css/bootstrap.css'" href="../static/css/bootstrap.css" rel="stylesheet"/>
	
</head>

<body>


	<div class="container">
	
		<ul>
		<li><a href=>Projekte  </a> </li>
		<li><a href=>Mitarbeiter </a> </li>
		<li><a href=>Stakeholder</a> </li>
		<li><a href=>Risiken</a> </li>
		</ul>
	
	</div>




<h3>Risiko erfassen</h3>


	<form action="#" th:action="${postAction}" method="post" th:object="${RisikoDetail}">
	
		<input type="hidden" name="RisikoDetail.id" th:value="*{id}" /> <br>
		<label>Risikoart:</label>
		<input type="hidden"  th:value="*{Risikoart}"/>
		<select name="StakeholderDetail.risikoart" th:field="*{risikoart}" >
		<option>operativ</option>
		<option>strategisch</option>
		</select>
		
		
		<label>Beschreibung:</label> 
		<input type="text" placeholder="Beschreibung eingeben" name="RisikoDetail.beschreibung" th:value="*{beschreibung}" /><br>
		<label>Eintrittswahrscheinlichkeit:</label> 
		<input type="hidden"  th:value="*{Eintrittswahrscheinlichkeit}"/>
		<select name="RisikoDetail.eintrittswahrscheinlichkeit" th:field="*{eintrittswahrscheinlichkeit}" >
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		</select>
		<label>Ausmass:</label> 
		<input type="hidden"  th:value="*{Ausmass}"/>
		<select name="RisikoDetail.ausmass" th:field="*{ausmass}" >
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		</select>
		
		<label>Massnahmen:</label> 
		<input type="text" placeholder="Massnahmen eingeben" name="ProjektDetail.massnahmen" th:value="*{massnahmen}" /><br>
		<label>Status:</label> 
		<input type="hidden"  th:value="*{Status}"/>
		<select name="RisikoDetail.status" th:field="*{status}" >
		<option>I</option>
		<option>B</option>
		<option>M</option>
		<option>E</option>
		<option>P</option>	
		<option>A</option>
		</select>
		
		
		
		<label>Verantwortlich:</label> 
		<input type="text" placeholder="Verantwortlicher eingeben" name="ProjektDetail.verantwortlich" th:value="*{verantwortlich}" /><br>
		
		
		
		
		<input class="btn btn-primary" type="submit" />
		<a class="btn btn-default" href="/">Zurück</a>
	</form>
	
	
	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script th:src="'./js/bootstrap'" src="../static/js/bootstrap"></script>
</body>
</html>