<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Projekt Detail</title>
	<link th:href="'../css/bootstrap.css'" href="../static/css/bootstrap.css" rel="stylesheet"/>
	
</head>

<body>

	<div class="container">
	
		<ul>
		<li><a href=>Projekte </a> </li>
		<li><a href=>Mitarbeiter </a> </li>
		<li><a href=>Stakeholder</a> </li>
		<li><a href=>Risiken</a> </li>
		</ul>
	
	</div>



<h3>Stakeholder erfassen</h3>



	<form action="#" th:action="${postAction}" method="post" th:object="${StakeholderDetail}">
	
		<input type="hidden" name="StakeholderDetail.id" th:value="*{id}" /> <br>
		<label>Name:</label> 
		<input type="text" placeholder="Namen eingeben" name="StakeholderDetail.name" th:value="*{name}" /> <br>
		<label>Vorname:</label> 
		<input type="text" placeholder="Vornamen eingeben"  name="StakeholderDetail.vorname" th:value="*{vorname}" /><br>
		<label>Anforderung:</label> 
		<input type="text" placeholder="Anforderung eingeben" name="StakeholderDetail.anforderung" th:value="*{anforderung}" /><br>
		<label>Einfluss:</label> 
		<input type="hidden"  th:value="*{Einfluss}"/>
		<select name="StakeholderDetail.einfluss" th:field="*{einfluss}" >
		<option>NIEDRIG</option>
		<option>MITTEL</option>
		<option>HOCH</option>
	
		</select>
		
		<label>Konfliktpotenzial:</label> 
		<input type="hidden"  th:value="*{konfliktpotenzial}"/>
		<select name="StakeholderDetail.konfliktpotenzial" th:field="*{konfliktpotenzial}" >
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		</select>
		
		<br>
		<label>Rolle:</label> 
		<input type="text" placeholder="Rolle eingeben" name="StakeholderDetail.rolle" th:value="*{rolle}" /><br>
		
		<input class="btn btn-primary" type="submit" />
		<a class="btn btn-default" href="/">Zurück</a>
	</form>
	
	
	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script th:src="'js/bootstrap.js'" src="../static/js/bootstrap.js"></script>
</body>
</html>